/**
 * layout
 */
html, body {
    font-family: sans-serif;
    background: #fefbf6;
    color: #1e181a;
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
body > main {
    flex: 1;
    overflow-y: auto;
}
body > header,
body > main,
body > footer {
    padding-left: 10%;
    padding-right: 10%;
}
@media (max-width: 499px) {
    body > header,
    body > main,
    body > footer {
        padding-left: 3.3333%;
        padding-right: 6.6667%;
    }
}

/**
 * header
 */
body > header {
    height: 64px;
    text-align: center;
}

/**
 * never ever use ids in css under any circumstance ever
 */
#errorMessage {
    color: #ed1b24;
    line-height: 64px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 5s linear;
}

/*#errorMessage*/.fadeout {
    opacity: 0;
}

/**
 * footer
 */
footer {
    text-align: center;
    color: rgba(30, 24, 26, 0.25);
    padding: 1em 0;
}

footer hr {
    border: 1px rgba(30, 24, 26, 0.25) solid;
    margin-bottom: 1em;
}

/**
 * logo
 */
.citrus__logo {
    width:108.6666666666667px;
    height:78px;
}

::selection { background: #fef200; color: #1e181a; }
::-moz-selection { background: #fef200; color: #1e181a; }
::-webkit-selection { background: #fef200; color: #1e181a; }

/**
 * suprême
 */
/*article*/.citrus__suprême {
    position: relative;
    margin: 64px 0;
}

.citrus__suprême audio {
    display: none;
}

.citrus__suprême-inner-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.citrus__suprême-playpause-column {
    flex: 0 1 auto;
    margin-right: 16px;
    margin-top: 3em;
}

/*svg*/.citrus__suprême-playpause-button {
    width: 96px;
    height: 96px;
    fill: #fef200;
    box-shadow: 0 0 0 2px #fff, -8px 0 19px -5px rgba(254,242,0,1);
    border-radius: 50%;
    /* filter: drop-shadow(0 0 20px rgba(30,24,26,0.2)); */
    /* -webkit-filter: drop-shadow(0 0 20px rgba(30,24,26,0.2)); */
    transition: all 0.125s ease-out;
    cursor: pointer;
}

.citrus__suprême-playpause-button:hover,
.citrus__suprême-playpause-button:active,
.citrus__suprême-playpause-button:focus {
    box-shadow: 0 0 0 2px #fff, -8px 0 108px -5px rgba(254,242,0,1);
}

.citrus__suprême--paused .pause,
.citrus__suprême:not(.citrus__suprême--paused) .play,
.citrus__suprême--loading .pause,
.citrus__suprême--loading .play,
.citrus__suprême:not(.citrus__suprême--loading) .loading {
    display: none;
}

/*time*/.citrus__suprême-createdat-time {
    font-size: 12px;
    float: right;
    color: rgba(30, 24, 26, 0.41);
    cursor: help;
}

.citrus__suprême-waveform-column {
    filter: drop-shadow(2px 2px rgb(204, 204, 204));
    -webkit-filter: drop-shadow(2px 2px rgb(204, 204, 204));
}
/*img*/.waveform--yellow, .waveform--black {
    width: 100%;
    height: 96px;
    cursor: pointer;
}
.citrus__suprême--not-loaded .waveformBox {
    filter: grayscale(1) opacity(0.5);
    -webkit-filter: grayscale(1) opacity(0.5);
}

.waveformBox {
    margin: -2px;
}

.citrus__suprême-info {
    position: absolute;
    right: 0;
    bottom: 0;
}

.citrus__suprême-info > *:not(.duration) {
    font-size: x-small;
}
.citrus__suprême-info > * {
    background: rgba(30, 24, 26, 0.92);
    color: #fefbf6;
    padding: 2px 4px;
    margin-left: 0.5em;
    vertical-align: bottom;
}

.citrus__suprême .torrentStatus {
    opacity: 1;
    transition: opacity 0.5s ease-out 0.5s;
}
.citrus__suprême--not-loaded:not(.citrus__suprême--loading) .torrentStatus {
    opacity: 0;
}

/*h1*/.citrus__suprême-title {
    font-size: 26px;
    margin-bottom: .5em;
    position: relative;
}
.citrus__suprême-title a {
    text-decoration: none;
}
.citrus__suprême-title img {
    position: absolute;
    left: -1em;
    top: 12.5%;
    width:1em;
    height:1em;
    opacity: 0;
}
.citrus__suprême-title:hover a {
    text-decoration: underline;
}
.citrus__suprême-title:hover img {
    opacity: 1;
}

/**
 * forms
 */
input, textarea {
    display: block;
    width: 100%;
    border: 1px inset;
    padding: .5em 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
    resize: none;
}

/** temp: the OK , Cancel on share modal **/
button.cbutton.cbutton--effect-sanja {
    flex: 1;
    padding: 1em;
}

/**
 * volume slider
 */
.citrus__volume {
    width: 128px;
    display: inline-block;
    padding: 0;
    border: 0;
    margin: 0;
    /* transition: width 0.125s linear; */
}

.citrus__volume:hover {
    /* width: 128px; */
}

@keyframes pulse {
    0% { fill: #fef200;  transform: scale(1); stroke: #fefbf6; }
    50% { fill: #fefbf6;  transform: scale(1.5); stroke: #fef200; }
    100% { fill: #fef200;  transform: scale(1); stroke: #fefbf6; }
}
@-webkit-keyframes pulse {
    0% { fill: #fef200;  transform: scale(1); stroke: #fefbf6; }
    50% { fill: #fefbf6;  transform: scale(1.5); stroke: #fef200; }
    100% { fill: #fef200;  transform: scale(1); stroke: #fefbf6; }
}

.citrus__suprême-playpause-button.loading {
    animation: 1s pulse cubic-bezier(0.85, -0.01, 0, 0.96) infinite;
    -webkit-animation: 1s pulse cubic-bezier(0.85, -0.01, 0, 0.96) infinite;
}

.hiddenMessage {
    display: none;
}
[empty] .hiddenMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: rgba(30, 24, 26, 0.07);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.hiddenMessage em {
    width: 26em;
    text-align: justify;
    hyphens: auto;
}
