/**
 * layout
 */
html, body {
    font-family: sans-serif;
    background: #fefbf6;
    color: #1e181a;
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
body > main {
    flex: 1;
    overflow-y: auto;
}
body > header,
body > main,
body > footer {
    padding-left: 10%;
    padding-right: 10%;
}

/**
 * header
 */
body > header {
    height: 64px;
    text-align: center;
}

/**
 * never ever use ids in css under any circumstance ever
 */
#errorMessage {
    color: #ed1b24;
    line-height: 64px;
}

/**
 * footer
 */
footer {
    text-align: center;
    color: rgba(30, 24, 26, 0.25);
    padding: 1em 0;
}

footer hr {
    border: 1px rgba(30, 24, 26, 0.25) solid;
    margin-bottom: 1em;
}

/**
 * logo
 */
.citrus__logo {
    width:108.6666666666667px;
    height:78px;
}

::selection { background: #fef200; color: #1e181a; }
::-moz-selection { background: #fef200; color: #1e181a; }
::-webkit-selection { background: #fef200; color: #1e181a; }

/**
 * suprême
 */
/*article*/.citrus__suprême {
    position: relative;
    margin: 64px 0;
}

.citrus__suprême-inner-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.citrus__suprême-playpause-column {
    flex: 0 1 auto;
    margin-right: 16px;
}

/*svg*/.citrus__suprême-playpause-button {
    width: 96px;
    height: 96px;
    fill: #fef200;
    box-shadow: 0 0 0 2px #fff, -8px 0 19px -5px rgba(254,242,0,1);
    border-radius: 50%;
    /* filter: drop-shadow(0 0 20px rgba(30,24,26,0.2)); */
    /* -webkit-filter: drop-shadow(0 0 20px rgba(30,24,26,0.2)); */
    transition: all 0.125s ease-out;
    cursor: pointer;
}

.citrus__suprême-playpause-button:hover,
.citrus__suprême-playpause-button:active,
.citrus__suprême-playpause-button:focus {
    box-shadow: 0 0 0 2px #fff, -8px 0 108px -5px rgba(254,242,0,1);
}

.citrus__suprême--paused .pause,
.citrus__suprême:not(.citrus__suprême--paused) .play {
    display: none;
}

/*time*/.citrus__suprême-createdat-time {
    font-size: 12px;
    float: right;
    color: rgba(30, 24, 26, 0.41);
}

.citrus__suprême-waveform-column {
    filter: drop-shadow(2px 2px rgb(204, 204, 204));
}
/*img*/.waveform--yellow, .waveform--black {
    width: 100%;
    height: 128px;
    cursor: pointer;
}

/*time*/.citrus__suprême-duration-time {
    position:absolute;
    right:0;
    bottom:0;
    background:rgba(30, 24, 26, 0.41);
    color:#fefbf6;
    padding: 2px 4px;
}

/*h1*/.citrus__suprême-title {
    font-size: 26px;
    margin-bottom: 2px;
}

/**
 * forms
 */
input, textarea {
    display: block;
    width: 100%;
    border: 1px inset;
    padding: .5em 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
    resize: none;
}

/** temp: the OK , Cancel on share modal **/
button.cbutton.cbutton--effect-sanja {
    flex: 1;
    padding: 1em;
}

/**
 * volume slider
 */
.citrus__volume {
    width: 128px;
    display: inline-block;
    padding: 0;
    border: 0;
    margin: 0;
    /* transition: width 0.125s linear; */
}

.citrus__volume:hover {
    /* width: 128px; */
}

